/*#product-images #main-image #my-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}*/

#product-images #main-image #wrap img {
  position: relative;
  margin: 0;
}